.container {
  border-bottom: 1px solid #f2f2f2;

  & .wrapper {
    height: auto;
    padding-block: 1rem;

    & img {
      width: 5rem;
    }
  }

  & td {
    padding-inline: 1rem;
    text-align: center;

    & h4 {
      font-weight: 500;
    }
  }

  & .actions {
    & .btns {
      display: inline-flex;
      align-items: center;

      & button {
        border: none;
        margin-right: 0.5rem;
        color: #fff;
        padding: 0.3rem;
      }

      & .red {
        background-color: #ff4f70;
      }
      & .green {
        background-color: #22ca80;
      }
    }
  }
}
